.card-ghost {
  /* border: 1px solid #6933ff; */
}

.card-ghost-drop {
}

.drop-preview {
  width: 100%;
  height: calc(100% - 12px * 2);
  margin: auto 0;
  border-radius: 8px;
  background: #eef2ff;
}
